<% if Review.exists?(game_id: @game.id, user_id: current_user.id,
                      grampus_player_id: grampus_player.id) %>
  <span class="item"><%= grampus_player.name %></span>
  <span class="reviewed_score">
    <% @reviewed = Review.find_by(game_id: @game.id, user_id: current_user.id,
                          grampus_player_id: grampus_player.id) %>
    評価済み: <%= @reviewed.score %>
  </span>
  <span class="average_score">
    <% @average_score = Review.where(game_id: @game.id, grampus_player_id: grampus_player.id).average(:score) %>
    平均評価点: <%= @average_score.round(1) %>
  </span>
  <%= link_to "削除", @reviewed, method: :delete,
                                     data: { confirm: "You sure?" } %>
<% else %>
  <%= form_with(model: @review, local: true) do |f| %>
    <span class="item"><%= grampus_player.name %></span>
    <%= f.select :score, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]],
    include_blank: "未選択" %>
    <span><%= hidden_field_tag :game_id, @game.id %></span>
    <span><%= hidden_field_tag :grampus_player_id, grampus_player.id %></span>
    <%= f.submit "投稿" %>
    <span class="average_score">
      <% @average_score = Review.where(game_id: @game.id, grampus_player_id: grampus_player.id).average(:score) %>
      <% if @average_score %>
        平均評価点: <%= @average_score.round(1) %>
      <% else %>
        まだ評価はありません
      <% end %>
    </span>
  <% end %>
<% end %>
